[package]
name = "dns-lookup"
version = "0.2.0"
authors = ["Josh Driver <keeperofdakeys@gmail.com>"]
description = "A simple dns resolving api, much like rust's unstable api."
documentation = "https://keeperofdakeys.github.io/dns-lookup/dns_lookup"
repository = "https://github.com/keeperofdakeys/dns-lookup/"
readme = "README.md"
keywords = ["dns", "resolve", "lookup"]
license = "MIT/Apache-2.0"
include = [
    "src/**",
    "README.md",
    "LICENSE*",
    "Cargo.*"
]

[dependencies]
libc = "0.2.8"
